.user {
    width: 425px;
    height: 500px;
    background-color: #e7ecf2;
    display: grid;
    justify-items: center;
    padding-top: 50px;
   
}

.profile {
    display: grid;
   text-align: center;
   align-content: space-between;
    width: 250px;
    height: 330px;
    background-color: #fff;
    padding-top: 15px;
}

.description{
    display: grid;
    justify-items: center;
}

.avatar {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.name {
    font-weight: 600;
    margin:0 0 10px 0;
}

.tag{
    margin:0 0 10px 0;
color: #a1abb6;
}

.location{
    margin:0 0 50px 0;
    color: #a1abb6;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
    height: 75px;
    background-color: #f3f6f9;
    align-items: center;
    padding: 0;   
    margin: 0;
}
.stats li{
display: flex;
    padding-top: 20px;
    flex-direction: column;
    height: 100%;
    border: 1px solid #e4e9f0;
    
}