
.item {
    display: grid;
    padding:  0 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px;
    grid-column-gap: 50px;
    justify-items: center;
    align-items: center;
    border: 1px solid silver;
    
}

.item:nth-child(odd) {
    background-color: #fff;
}

.item:nth-child(even) {
    background-color: #ecf1f4;
}